@model IEnumerable<ParentsPortal.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

    <h2>Payment</h2>

<p>
    <a asp-action="Create">Create Payment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemesterFee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCourse.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterFee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit Payment</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Payment Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete Payment</a>
            </td>
        </tr>
}
    </tbody>
</table>
