@model IEnumerable<ParentsPortal.Models.Result>

@{
    ViewData["Title"] = "Index";
}

<h2>Result</h2>

<p>
    <a asp-action="Create">Create Result</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentInfo.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResultId">Edit Result</a> |
                <a asp-action="Details" asp-route-id="@item.ResultId"> Result Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResultId">Delete Result</a>
            </td>
        </tr>
}
    </tbody>
</table>
