@model ParentsPortal.Models.TeacherCourse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeacherCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeacherCourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
